This server is having port for httpd as {{http_port}}

{% if x < y %}
This is true for given condition
{% elif x > 100 %}
x is grather than 100
{% else %}
This is false for given condition
{% endif %}

{% for each in z %}
This is a {{each}}
This is without variables
{% endfor %}
